/Guia2/Todo/node_modules/*
/Guia3/cars/node_modules/*
/Guia3/ejericicio_comp/node_modules/*
/Guia4/cotizadorprestamos/node_modules/*
/Guia4/ejericicio_comp/node_modules/*
/Guia5/Desarrollo/node_modules/*
/Guia5/Restaurante/node_modules/*
/Guia6/agencia/node_modules/*
/Guia6/complementario/node_modules/*
/Guia7/complementario/node_modules/*
/Guia8/Paises/node_modules/*
